@import '../variables';
@import '../mixins';

.excel__toolbar {
    -moz-user-select: none;
    -o-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    position: absolute;
    left: 0;
    right: 0;
    top: $header-height;
    height: $toolbar-height;
    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;

    .button {
        @include button(rgb(13, 65, 13))
    }
}