@mixin button($color: green) {
    height: 2.6rem;
    min-width: 2.6rem;
    padding: 6px;
    text-align: center;
    position: relative;
    display: inline-block;
    color: rgba(0, 0, 0, 0.8);

    span {
        font-size: 1.8rem;
    }

    &:active {
        transform: scale(0.98);
    }

    &.active {
        background: $color;
        color: white;
        cursor: pointer;
    }

    &:hover {
        cursor: pointer;
    }
}